.elementor-13
  .elementor-element.elementor-element-4e26374b:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-13
  .elementor-element.elementor-element-4e26374b
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(180deg, #151516 0%, #151516 100%);
}
.elementor-13
  .elementor-element.elementor-element-4e26374b
  > .elementor-background-overlay {
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-13 .elementor-element.elementor-element-4e26374b {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0px 0px 0px;
}
.elementor-13
  .elementor-element.elementor-element-621fa2fb
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-13
  .elementor-element.elementor-element-621fa2fb
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 25px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-13
  .elementor-element.elementor-element-621fa2fb
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-13
  .elementor-element.elementor-element-191aaad9
  > .elementor-widget-container {
  padding: 0px 0px 020px 0px;
}
.elementor-13
  .elementor-element.elementor-element-2bda7e7d:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-13
  .elementor-element.elementor-element-2bda7e7d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #151516;
}
.elementor-13 .elementor-element.elementor-element-2bda7e7d {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-13
  .elementor-element.elementor-element-2bda7e7d
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-13
  .elementor-element.elementor-element-1cab5996
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-13
  .elementor-element.elementor-element-48cc8b5c
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Nunito Sans", Sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  line-height: 1em;
  letter-spacing: 0.6px;
}
.elementor-13
  .elementor-element.elementor-element-48cc8b5c
  > .elementor-widget-container {
  padding: 25px 25px 0px 25px;
}
.elementor-13
  .elementor-element.elementor-element-12692f28
  > .elementor-element-populated {
  margin: 0px 0px 0px -24px;
  padding: 0px 0px 0px 0px;
}
.elementor-13
  .elementor-element.elementor-element-7ef5669b
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Nunito Sans", Sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  line-height: 1.5em;
  letter-spacing: 0.6px;
}
.elementor-13
  .elementor-element.elementor-element-7ef5669b
  > .elementor-widget-container {
  margin: 0px 0px 0px 16px;
  padding: 14px 14px 14px 14px;
}
.elementor-13 .elementor-element.elementor-element-4ba51bb {
  color: var(--e-global-color-secondary);
}
.elementor-13
  .elementor-element.elementor-element-69e1e87
  .elementor-heading-title {
  color: var(--e-global-color-eb5d425);
  font-family: "Nunito Sans", Sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-transform: capitalize;
  font-style: normal;
  text-decoration: none;
  line-height: 1.5em;
  letter-spacing: 0.6px;
}
.elementor-13
  .elementor-element.elementor-element-69e1e87
  > .elementor-widget-container {
  padding: 25px 25px 0px 25px;
}
.elementor-13
  .elementor-element.elementor-element-2a5ef842
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(10px / 2);
}
.elementor-13
  .elementor-element.elementor-element-2a5ef842
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(10px / 2);
}
.elementor-13
  .elementor-element.elementor-element-2a5ef842
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(10px / 2);
  margin-left: calc(10px / 2);
}
.elementor-13
  .elementor-element.elementor-element-2a5ef842
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-10px / 2);
  margin-left: calc(-10px / 2);
}
body.rtl
  .elementor-13
  .elementor-element.elementor-element-2a5ef842
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-10px / 2);
}
body:not(.rtl)
  .elementor-13
  .elementor-element.elementor-element-2a5ef842
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-10px / 2);
}
.elementor-13
  .elementor-element.elementor-element-2a5ef842
  .elementor-icon-list-icon
  i {
  color: #838383;
}
.elementor-13
  .elementor-element.elementor-element-2a5ef842
  .elementor-icon-list-icon
  svg {
  fill: #838383;
}
.elementor-13 .elementor-element.elementor-element-2a5ef842 {
  --e-icon-list-icon-size: 13px;
}
.elementor-13
  .elementor-element.elementor-element-2a5ef842
  .elementor-icon-list-text {
  color: #838383;
  padding-left: 11px;
}
.elementor-13
  .elementor-element.elementor-element-2a5ef842
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-13
  .elementor-element.elementor-element-2a5ef842
  .elementor-icon-list-item
  > a {
  font-family: "Nunito Sans", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 1.9em;
  letter-spacing: 0px;
}
.elementor-13
  .elementor-element.elementor-element-2a5ef842
  > .elementor-widget-container {
  padding: 25px 25px 25px 25px;
}
.elementor-13
  .elementor-element.elementor-element-27901033
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-13
  .elementor-element.elementor-element-27901033
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-bc-flex-widget
  .elementor-13
  .elementor-element.elementor-element-b8ebf97.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-13
  .elementor-element.elementor-element-b8ebf97.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-13
  .elementor-element.elementor-element-b8ebf97
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-13
  .elementor-element.elementor-element-b8ebf97:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-13
  .elementor-element.elementor-element-b8ebf97
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #0b0c0c3b;
}
.elementor-13
  .elementor-element.elementor-element-b8ebf97
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-13
  .elementor-element.elementor-element-b8ebf97
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-13
  .elementor-element.elementor-element-5196b7ff
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Nunito Sans", Sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-transform: capitalize;
  font-style: normal;
  text-decoration: none;
  line-height: 1.5em;
  letter-spacing: 0.6px;
}
.elementor-13
  .elementor-element.elementor-element-5196b7ff
  > .elementor-widget-container {
  padding: 0px 25px 0px 15px;
}
.elementor-13
  .elementor-element.elementor-element-49d986a0
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(10px / 2);
}
.elementor-13
  .elementor-element.elementor-element-49d986a0
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(10px / 2);
}
.elementor-13
  .elementor-element.elementor-element-49d986a0
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(10px / 2);
  margin-left: calc(10px / 2);
}
.elementor-13
  .elementor-element.elementor-element-49d986a0
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-10px / 2);
  margin-left: calc(-10px / 2);
}
body.rtl
  .elementor-13
  .elementor-element.elementor-element-49d986a0
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-10px / 2);
}
body:not(.rtl)
  .elementor-13
  .elementor-element.elementor-element-49d986a0
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-10px / 2);
}
.elementor-13
  .elementor-element.elementor-element-49d986a0
  .elementor-icon-list-icon
  i {
  color: #ffffff;
}
.elementor-13
  .elementor-element.elementor-element-49d986a0
  .elementor-icon-list-icon
  svg {
  fill: #ffffff;
}
.elementor-13 .elementor-element.elementor-element-49d986a0 {
  --e-icon-list-icon-size: 13px;
}
.elementor-13
  .elementor-element.elementor-element-49d986a0
  .elementor-icon-list-text {
  color: var(--e-global-color-text);
  padding-left: 11px;
}
.elementor-13
  .elementor-element.elementor-element-49d986a0
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-13
  .elementor-element.elementor-element-49d986a0
  .elementor-icon-list-item
  > a {
  font-family: "Nunito Sans", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 1.9em;
  letter-spacing: 0px;
}
.elementor-13
  .elementor-element.elementor-element-49d986a0
  > .elementor-widget-container {
  padding: 25px 25px 0px 15px;
}
.elementor-13
  .elementor-element.elementor-element-9b17eb7
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-13
  .elementor-element.elementor-element-117a337
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-13
  .elementor-element.elementor-element-117a337
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-13
  .elementor-element.elementor-element-1baac784
  > .elementor-widget-container {
  padding: 0px 0px 20px 0px;
}
.elementor-13
  .elementor-element.elementor-element-180972fc:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-13
  .elementor-element.elementor-element-180972fc
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #151516;
}
.elementor-13 .elementor-element.elementor-element-180972fc {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 0px 20px;
}
.elementor-13
  .elementor-element.elementor-element-180972fc
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-13
  .elementor-element.elementor-element-76f0ed5a
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-13
  .elementor-element.elementor-element-778ebd25
  .elementor-heading-title {
  color: var(--e-global-color-eb5d425);
  font-family: "Nunito Sans", Sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  line-height: 1em;
  letter-spacing: 0.6px;
}
.elementor-13
  .elementor-element.elementor-element-778ebd25
  > .elementor-widget-container {
  padding: 25px 0px 25px 0px;
}
.elementor-13
  .elementor-element.elementor-element-64665e17
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-13
  .elementor-element.elementor-element-1973a070
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Nunito Sans", Sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  line-height: 1.5em;
  letter-spacing: 0.6px;
}
.elementor-13
  .elementor-element.elementor-element-1973a070
  > .elementor-widget-container {
  margin: 0px 0px 0px 9px;
  padding: 15px 15px 15px 0px;
}
.elementor-13
  .elementor-element.elementor-element-4111f26d
  .elementor-heading-title {
  color: var(--e-global-color-5dee23e);
  font-family: "Nunito Sans", Sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  line-height: 1em;
  letter-spacing: 1px;
}
.elementor-13
  .elementor-element.elementor-element-4111f26d
  > .elementor-widget-container {
  margin: 20px 0px 0px 25px;
  padding: 5px 0px 1px 0px;
}
.elementor-13 .elementor-element.elementor-element-45d8144a {
  color: var(--e-global-color-secondary);
  font-family: "Nunito Sans", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 1.9em;
  letter-spacing: 0px;
}
.elementor-13
  .elementor-element.elementor-element-45d8144a
  > .elementor-widget-container {
  padding: 25px 25px 0px 25px;
}
.elementor-13 .elementor-element.elementor-element-1d5c2a19 {
  color: var(--e-global-color-secondary);
  font-family: "Nunito Sans", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.9em;
  letter-spacing: 0px;
}
.elementor-13
  .elementor-element.elementor-element-1d5c2a19
  > .elementor-widget-container {
  padding: 25px 25px 0px 25px;
}
.elementor-13
  .elementor-element.elementor-element-47ff38db
  > .elementor-container {
  max-width: 1200px;
}
.elementor-13
  .elementor-element.elementor-element-47ff38db:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-13
  .elementor-element.elementor-element-47ff38db
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #151516;
  background-image: url("https://dhiant.github.io/wordpress-fitness-website/wp-content/uploads/2021/11/singl-services-4.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-13
  .elementor-element.elementor-element-47ff38db
  > .elementor-background-overlay {
  background-color: transparent;
  background-image: linear-gradient(270deg, #3f3f3f 40%, #000000 69%);
  opacity: 0.76;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-13 .elementor-element.elementor-element-47ff38db {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 187px 0px 218px 0px;
}
.elementor-13
  .elementor-element.elementor-element-47ff38db
  > .elementor-shape-top
  .elementor-shape-fill {
  fill: #ffffff;
}
.elementor-13
  .elementor-element.elementor-element-47ff38db
  > .elementor-shape-top
  svg {
  height: 40px;
}
.elementor-13
  .elementor-element.elementor-element-47ff38db
  > .elementor-shape-bottom
  .elementor-shape-fill {
  fill: #ffffff;
}
.elementor-13
  .elementor-element.elementor-element-47ff38db
  > .elementor-shape-bottom
  svg {
  height: 40px;
}
.elementor-13
  .elementor-element.elementor-element-5e75aa82
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-13
  .elementor-element.elementor-element-5e75aa82
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-13 .elementor-element.elementor-element-26dcd9dc {
  text-align: left;
}
.elementor-13
  .elementor-element.elementor-element-26dcd9dc
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Nunito Sans", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  line-height: 1em;
  letter-spacing: 4.34px;
}
.elementor-13
  .elementor-element.elementor-element-26dcd9dc
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-13 .elementor-element.elementor-element-4897b952 {
  --divider-border-style: solid;
  --divider-color: #5488db;
  --divider-border-width: 4px;
}
.elementor-13
  .elementor-element.elementor-element-4897b952
  .elementor-divider-separator {
  width: 31px;
}
.elementor-13 .elementor-element.elementor-element-4897b952 .elementor-divider {
  padding-top: 6px;
  padding-bottom: 6px;
}
.elementor-13 .elementor-element.elementor-element-6e50fbfe {
  text-align: left;
}
.elementor-13
  .elementor-element.elementor-element-6e50fbfe
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Oswald", Sans-serif;
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  line-height: 1.4em;
  letter-spacing: 0px;
}
.elementor-13
  .elementor-element.elementor-element-6e50fbfe
  > .elementor-widget-container {
  margin: -2px 0px 15px 0px;
  padding: 0% 25% 0% 0%;
}
.elementor-13 .elementor-element.elementor-element-1352dace {
  text-align: left;
}
.elementor-13
  .elementor-element.elementor-element-1352dace
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Oswald", Sans-serif;
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  line-height: 1.5em;
  letter-spacing: 0px;
}
.elementor-13
  .elementor-element.elementor-element-1352dace
  > .elementor-widget-container {
  margin: -2px 0px 15px 0px;
  padding: 0% 25% 0% 0%;
}
.elementor-13 .elementor-element.elementor-element-2ab72189 {
  --divider-border-style: solid;
  --divider-color: rgba(255, 255, 255, 0.7);
  --divider-border-width: 2px;
}
.elementor-13
  .elementor-element.elementor-element-2ab72189
  .elementor-divider-separator {
  width: 357px;
  margin: 0 auto;
  margin-left: 0;
}
.elementor-13 .elementor-element.elementor-element-2ab72189 .elementor-divider {
  text-align: left;
  padding-top: 0px;
  padding-bottom: 0px;
}
.elementor-13
  .elementor-element.elementor-element-2ab72189
  > .elementor-widget-container {
  margin: 0px 0px 2px 0px;
}
.elementor-13 .elementor-element.elementor-element-2abe63e5 {
  --divider-border-style: solid;
  --divider-color: rgba(255, 255, 255, 0.7);
  --divider-border-width: 2px;
}
.elementor-13
  .elementor-element.elementor-element-2abe63e5
  .elementor-divider-separator {
  width: 357px;
  margin: 0 auto;
  margin-left: 0;
}
.elementor-13 .elementor-element.elementor-element-2abe63e5 .elementor-divider {
  text-align: left;
  padding-top: 0px;
  padding-bottom: 0px;
}
.elementor-13 .elementor-element.elementor-element-2ce59eb9 .elementor-button {
  font-family: "Numans", Sans-serif;
  font-size: 17px;
  font-weight: 400;
  fill: #000000;
  color: #000000;
  background-color: #ffffff;
  border-radius: 50px 50px 50px 50px;
  padding: 17px 59px 17px 59px;
}
.elementor-13
  .elementor-element.elementor-element-2ce59eb9
  .elementor-button:hover,
.elementor-13
  .elementor-element.elementor-element-2ce59eb9
  .elementor-button:focus {
  color: #dbd0d0;
  background-color: #050303;
}
.elementor-13
  .elementor-element.elementor-element-2ce59eb9
  .elementor-button:hover
  svg,
.elementor-13
  .elementor-element.elementor-element-2ce59eb9
  .elementor-button:focus
  svg {
  fill: #dbd0d0;
}
.elementor-13
  .elementor-element.elementor-element-2ce59eb9
  > .elementor-widget-container {
  padding: 30px 0px 0px 0px;
}
.elementor-13
  .elementor-element.elementor-element-6932e13d:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-13
  .elementor-element.elementor-element-6932e13d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #151516;
}
.elementor-13 .elementor-element.elementor-element-6932e13d {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 65px 0px 89px 0px;
}
.elementor-13
  .elementor-element.elementor-element-6932e13d
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-13
  .elementor-element.elementor-element-3330cbb
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-13
  .elementor-element.elementor-element-1bf3aba
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-13 .elementor-element.elementor-element-57b1afcf {
  text-align: right;
}
.elementor-13
  .elementor-element.elementor-element-57b1afcf
  .elementor-heading-title {
  color: var(--e-global-color-eb5d425);
  font-family: "Nunito Sans", Sans-serif;
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  line-height: 1em;
  letter-spacing: 0.6px;
}
.elementor-13
  .elementor-element.elementor-element-57b1afcf
  > .elementor-widget-container {
  padding: 10px 0px 0px 0px;
}
.elementor-13
  .elementor-element.elementor-element-d13387c
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-13 .elementor-element.elementor-element-7bc4bfb4 {
  text-align: left;
}
.elementor-13
  .elementor-element.elementor-element-7bc4bfb4
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Nunito Sans", Sans-serif;
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  line-height: 1.5em;
  letter-spacing: 0.6px;
}
.elementor-13
  .elementor-element.elementor-element-7bc4bfb4
  > .elementor-widget-container {
  padding: 0px 0px 0px 10px;
}
.elementor-13
  .elementor-element.elementor-element-353bbf9a
  .elementor-spacer-inner {
  height: 53px;
}
.elementor-13
  .elementor-element.elementor-element-6e0c4f1
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-13
  .elementor-element.elementor-element-6e0c4f1
  > .elementor-element-populated {
  padding: 0px 18px 0px 0px;
}
.elementor-13 .elementor-element.elementor-element-5903089b {
  text-align: left;
}
.elementor-13
  .elementor-element.elementor-element-5903089b
  > .elementor-widget-container {
  margin: 0px 0px 30px 0px;
}
.elementor-13 .elementor-element.elementor-element-9d1818 {
  text-align: left;
}
.elementor-13
  .elementor-element.elementor-element-9d1818
  > .elementor-widget-container {
  margin: 0px 0px 30px 0px;
}
.elementor-13
  .elementor-element.elementor-element-4007513c
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-13
  .elementor-element.elementor-element-4007513c
  > .elementor-element-populated {
  padding: 0px 0px 0px 21px;
}
.elementor-13 .elementor-element.elementor-element-5915c610 {
  text-align: left;
}
.elementor-13
  .elementor-element.elementor-element-5915c610
  > .elementor-widget-container {
  margin: 0px 0px 30px 0px;
}
.elementor-13 .elementor-element.elementor-element-1bcb8268 {
  text-align: left;
}
.elementor-13
  .elementor-element.elementor-element-1bcb8268
  > .elementor-widget-container {
  margin: 0px 0px 30px 0px;
}
.elementor-13
  .elementor-element.elementor-element-724815d3
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-13
  .elementor-element.elementor-element-724815d3
  > .elementor-element-populated {
  padding: 0px 8px 0px 12px;
}
.elementor-13 .elementor-element.elementor-element-1d0af7be {
  text-align: left;
}
.elementor-13
  .elementor-element.elementor-element-1d0af7be
  > .elementor-widget-container {
  margin: 0px 0px 30px 0px;
}
.elementor-13 .elementor-element.elementor-element-4af917b2 {
  text-align: left;
}
.elementor-13
  .elementor-element.elementor-element-4af917b2
  > .elementor-widget-container {
  margin: 0px 0px 30px 0px;
}
.elementor-13 .elementor-element.elementor-element-681d7d67 {
  text-align: left;
}
.elementor-13
  .elementor-element.elementor-element-681d7d67
  > .elementor-widget-container {
  margin: 0px 0px 30px 0px;
}
.elementor-13
  .elementor-element.elementor-element-60ee1875:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-13
  .elementor-element.elementor-element-60ee1875
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("https://dhiant.github.io/wordpress-fitness-website/wp-content/uploads/2021/11/gall-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-13
  .elementor-element.elementor-element-60ee1875
  > .elementor-background-overlay {
  background-color: #212327;
  opacity: 0.7;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-13 .elementor-element.elementor-element-60ee1875 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 89px 0px 102px 0px;
}
.elementor-13
  .elementor-element.elementor-element-10a4ce76
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-13
  .elementor-element.elementor-element-10a4ce76
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-13
  .elementor-element.elementor-element-52c54336
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-13 .elementor-element.elementor-element-61b20eb7 {
  text-align: right;
}
.elementor-13
  .elementor-element.elementor-element-61b20eb7
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Nunito Sans", Sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  line-height: 1em;
  letter-spacing: 0px;
}
.elementor-13
  .elementor-element.elementor-element-61b20eb7
  > .elementor-widget-container {
  padding: 10px 0px 0px 0px;
}
.elementor-13
  .elementor-element.elementor-element-15c1572d
  > .elementor-element-populated {
  padding: 0px 0px 0px 10px;
}
.elementor-13 .elementor-element.elementor-element-235e2a4b {
  text-align: left;
}
.elementor-13
  .elementor-element.elementor-element-235e2a4b
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Nunito Sans", Sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  line-height: 1.5em;
  letter-spacing: 0px;
}
.elementor-13
  .elementor-element.elementor-element-694eb6b9
  .elementor-spacer-inner {
  height: 46px;
}
.elementor-13 .elementor-element.elementor-element-d982350 {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 25px;
  --grid-column-gap: 25px;
  --grid-row-gap: 0px;
}
.elementor-13
  .elementor-element.elementor-element-d982350
  .elementor-widget-container {
  text-align: center;
}
.elementor-13
  .elementor-element.elementor-element-d982350
  .elementor-social-icon {
  background-color: var(--e-global-color-astglobalcolor1);
  border-style: solid;
  border-color: #5488db;
}
.elementor-13
  .elementor-element.elementor-element-d982350
  .elementor-social-icon:hover {
  background-color: #1c1818;
  border-color: var(--e-global-color-eb5d425);
}
.elementor-13
  .elementor-element.elementor-element-d982350
  .elementor-social-icon:hover
  i {
  color: var(--e-global-color-eb5d425);
}
.elementor-13
  .elementor-element.elementor-element-d982350
  .elementor-social-icon:hover
  svg {
  fill: var(--e-global-color-eb5d425);
}
@media (max-width: 1024px) {
  .elementor-13
    .elementor-element.elementor-element-621fa2fb
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
  }
  .elementor-13
    .elementor-element.elementor-element-117a337
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-13 .elementor-element.elementor-element-1baac784 {
    text-align: left;
  }
  .elementor-13
    .elementor-element.elementor-element-1baac784
    > .elementor-widget-container {
    padding: 0px 0px 0px 25px;
  }
  .elementor-13
    .elementor-element.elementor-element-1973a070
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-13
    .elementor-element.elementor-element-1d5c2a19
    > .elementor-widget-container {
    margin: 0px 0px 30px 0px;
  }
  .elementor-13
    .elementor-element.elementor-element-353bbf9a
    .elementor-spacer-inner {
    height: 15px;
  }
  .elementor-13
    .elementor-element.elementor-element-6e0c4f1
    > .elementor-element-populated {
    padding: 0px 10px 0px 0px;
  }
  .elementor-13
    .elementor-element.elementor-element-4007513c
    > .elementor-element-populated {
    padding: 0px 0px 0px 10px;
  }
  .elementor-13
    .elementor-element.elementor-element-724815d3
    > .elementor-element-populated {
    padding: 0px 5px 0px 5px;
  }
  .elementor-13 .elementor-element.elementor-element-60ee1875 {
    padding: 30px 0px 40px 0px;
  }
  .elementor-13
    .elementor-element.elementor-element-694eb6b9
    .elementor-spacer-inner {
    height: 30px;
  }
}
@media (max-width: 767px) {
  .elementor-13
    .elementor-element.elementor-element-621fa2fb
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
  }
  .elementor-13 .elementor-element.elementor-element-48cc8b5c {
    text-align: center;
  }
  .elementor-13
    .elementor-element.elementor-element-48cc8b5c
    .elementor-heading-title {
    line-height: 1.7em;
  }
  .elementor-13 .elementor-element.elementor-element-7ef5669b {
    text-align: center;
  }
  .elementor-13
    .elementor-element.elementor-element-7ef5669b
    .elementor-heading-title {
    line-height: 1.7em;
  }
  .elementor-13 .elementor-element.elementor-element-3edd5632 {
    padding: 0px 15px 0px 15px;
  }
  .elementor-13
    .elementor-element.elementor-element-117a337
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-13
    .elementor-element.elementor-element-1baac784
    > .elementor-widget-container {
    padding: 0px 15px 0px 15px;
  }
  .elementor-13
    .elementor-element.elementor-element-778ebd25
    > .elementor-widget-container {
    margin: 15px 0px 0px 15px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-13
    .elementor-element.elementor-element-1973a070
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 0px 10px;
  }
  .elementor-13 .elementor-element.elementor-element-47ff38db {
    padding: 50px 0px 50px 0px;
  }
  .elementor-13
    .elementor-element.elementor-element-6e50fbfe
    .elementor-heading-title {
    font-size: 30px;
  }
  .elementor-13
    .elementor-element.elementor-element-1352dace
    .elementor-heading-title {
    font-size: 30px;
  }
  .elementor-13 .elementor-element.elementor-element-57b1afcf {
    text-align: left;
  }
  .elementor-13
    .elementor-element.elementor-element-57b1afcf
    .elementor-heading-title {
    line-height: 1.3em;
  }
  .elementor-13
    .elementor-element.elementor-element-57b1afcf
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-13 .elementor-element.elementor-element-7bc4bfb4 {
    text-align: left;
  }
  .elementor-13
    .elementor-element.elementor-element-7bc4bfb4
    .elementor-heading-title {
    line-height: 1.3em;
  }
  .elementor-13
    .elementor-element.elementor-element-7bc4bfb4
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-13
    .elementor-element.elementor-element-353bbf9a
    .elementor-spacer-inner {
    height: 15px;
  }
  .elementor-13
    .elementor-element.elementor-element-6e0c4f1
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-13
    .elementor-element.elementor-element-4007513c
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-13
    .elementor-element.elementor-element-724815d3
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-13 .elementor-element.elementor-element-61b20eb7 {
    text-align: left;
  }
  .elementor-13
    .elementor-element.elementor-element-61b20eb7
    .elementor-heading-title {
    line-height: 1.3em;
  }
  .elementor-13
    .elementor-element.elementor-element-61b20eb7
    > .elementor-widget-container {
    margin: 0px 0px 0px 15px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-13
    .elementor-element.elementor-element-15c1572d
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-13 .elementor-element.elementor-element-235e2a4b {
    text-align: left;
  }
  .elementor-13
    .elementor-element.elementor-element-235e2a4b
    .elementor-heading-title {
    line-height: 1.3em;
  }
  .elementor-13
    .elementor-element.elementor-element-235e2a4b
    > .elementor-widget-container {
    margin: 0px 0px 0px 15px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-13
    .elementor-element.elementor-element-694eb6b9
    .elementor-spacer-inner {
    height: 30px;
  }
  .elementor-13 .elementor-element.elementor-element-d982350 {
    --icon-size: 18px;
    --grid-column-gap: 13px;
  }
}
@media (min-width: 768px) {
  .elementor-13 .elementor-element.elementor-element-621fa2fb {
    width: 70%;
  }
  .elementor-13 .elementor-element.elementor-element-1cab5996 {
    width: 33.581%;
  }
  .elementor-13 .elementor-element.elementor-element-12692f28 {
    width: 66.419%;
  }
  .elementor-13 .elementor-element.elementor-element-117a337 {
    width: 30%;
  }
  .elementor-13 .elementor-element.elementor-element-76f0ed5a {
    width: 51.865%;
  }
  .elementor-13 .elementor-element.elementor-element-64665e17 {
    width: 48.135%;
  }
  .elementor-13 .elementor-element.elementor-element-1bf3aba {
    width: 49.746%;
  }
  .elementor-13 .elementor-element.elementor-element-d13387c {
    width: 50.254%;
  }
  .elementor-13 .elementor-element.elementor-element-52c54336 {
    width: 49.417%;
  }
  .elementor-13 .elementor-element.elementor-element-15c1572d {
    width: 50.583%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-13 .elementor-element.elementor-element-621fa2fb {
    width: 100%;
  }
  .elementor-13 .elementor-element.elementor-element-117a337 {
    width: 100%;
  }
  .elementor-13 .elementor-element.elementor-element-76f0ed5a {
    width: 21%;
  }
}
@media (min-width: 1025px) {
  .elementor-13
    .elementor-element.elementor-element-47ff38db:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-13
    .elementor-element.elementor-element-47ff38db
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: fixed;
  }
  .elementor-13
    .elementor-element.elementor-element-60ee1875:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-13
    .elementor-element.elementor-element-60ee1875
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: fixed;
  }
}
