.elementor-15
  .elementor-element.elementor-element-65f9b8d4
  > .elementor-container {
  max-width: 1200px;
}
.elementor-15
  .elementor-element.elementor-element-65f9b8d4:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-15
  .elementor-element.elementor-element-65f9b8d4
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #151616;
}
.elementor-15
  .elementor-element.elementor-element-65f9b8d4
  > .elementor-background-overlay {
  opacity: 0.9;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-15 .elementor-element.elementor-element-65f9b8d4 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0px 50px 0px;
}
.elementor-15
  .elementor-element.elementor-element-fc965e
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-15
  .elementor-element.elementor-element-fc965e
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-15
  .elementor-element.elementor-element-161d9d6b:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-15
  .elementor-element.elementor-element-161d9d6b
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #151616;
}
.elementor-15 .elementor-element.elementor-element-161d9d6b {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-15
  .elementor-element.elementor-element-161d9d6b
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-15
  .elementor-element.elementor-element-70560dcb
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-15 .elementor-element.elementor-element-2a4c4406 {
  text-align: right;
}
.elementor-15
  .elementor-element.elementor-element-2a4c4406
  .elementor-heading-title {
  color: var(--e-global-color-eb5d425);
  font-family: "Nunito Sans", Sans-serif;
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  line-height: 1.8em;
  letter-spacing: 0px;
}
.elementor-15
  .elementor-element.elementor-element-2a4c4406
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-15
  .elementor-element.elementor-element-4a71110
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-15
  .elementor-element.elementor-element-4a71110
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-15 .elementor-element.elementor-element-7f6925ac {
  text-align: left;
}
.elementor-15
  .elementor-element.elementor-element-7f6925ac
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Nunito Sans", Sans-serif;
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  line-height: 1.8em;
  letter-spacing: 0px;
}
.elementor-15
  .elementor-element.elementor-element-7f6925ac
  > .elementor-widget-container {
  padding: 0px 0px 0px 10px;
}
.elementor-15 .elementor-element.elementor-element-406a6c61 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.elementor-15
  .elementor-element.elementor-element-5c1d2964
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-15
  .elementor-element.elementor-element-5c1d2964
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-15 .elementor-element.elementor-element-9511472 iframe {
  height: 477px;
  filter: brightness(94%) contrast(105%) saturate(5%) blur(0px) hue-rotate(1deg);
  transition-duration: 1.1s;
}
.elementor-15 .elementor-element.elementor-element-9511472:hover iframe {
  filter: brightness(100%) contrast(100%) saturate(100%) blur(0px)
    hue-rotate(0deg);
}
.elementor-15
  .elementor-element.elementor-element-51ca1de0:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-15
  .elementor-element.elementor-element-51ca1de0
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("https://dhiant.github.io/wordpress-fitness-website/wp-content/uploads/2021/11/elementor-service-1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-15
  .elementor-element.elementor-element-51ca1de0
  > .elementor-background-overlay {
  background-color: #373b44;
  opacity: 0.88;
  mix-blend-mode: multiply;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-15 .elementor-element.elementor-element-51ca1de0 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 92px 0px 92px 0px;
}
.elementor-15
  .elementor-element.elementor-element-613f4563
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-15
  .elementor-element.elementor-element-613f4563
  .elementor-element-populated
  a {
  color: #ffffff;
}
.elementor-15
  .elementor-element.elementor-element-613f4563
  .elementor-element-populated
  a:hover {
  color: #5488db;
}
.elementor-15
  .elementor-element.elementor-element-613f4563
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 14px;
}
.elementor-15
  .elementor-element.elementor-element-5cac4cb6
  .elementor-spacer-inner {
  height: 15px;
}
.elementor-15
  .elementor-element.elementor-element-10acdd2b
  .elementor-heading-title {
  color: #f9f9f9;
  font-family: "Nunito Sans", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 1px;
}
.elementor-15
  .elementor-element.elementor-element-10acdd2b
  > .elementor-widget-container {
  margin: 12px 0px 0px 0px;
  padding: 5px 0px 1px 0px;
}
.elementor-15 .elementor-element.elementor-element-23c85ed6 {
  --divider-border-style: solid;
  --divider-color: #5488db;
  --divider-border-width: 4px;
}
.elementor-15
  .elementor-element.elementor-element-23c85ed6
  .elementor-divider-separator {
  width: 6%;
}
.elementor-15 .elementor-element.elementor-element-23c85ed6 .elementor-divider {
  padding-top: 10px;
  padding-bottom: 10px;
}
.elementor-15
  .elementor-element.elementor-element-23c85ed6
  > .elementor-widget-container {
  margin: 0px 0px 13px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-15
  .elementor-element.elementor-element-3ab64dcb
  .elementor-spacer-inner {
  height: 15px;
}
.elementor-15
  .elementor-element.elementor-element-47c22959
  .elementor-spacer-inner {
  height: 18px;
}
.elementor-15
  .elementor-element.elementor-element-4d962e6d
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Nunito Sans", Sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  line-height: 1.7em;
}
.elementor-15
  .elementor-element.elementor-element-4d962e6d
  > .elementor-widget-container {
  margin: -41px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-15 .elementor-element.elementor-element-44a97401 {
  color: #f9f9f9;
  font-family: "Nunito Sans", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 1.9em;
}
.elementor-bc-flex-widget
  .elementor-15
  .elementor-element.elementor-element-5a6598e.elementor-column
  .elementor-widget-wrap {
  align-items: flex-start;
}
.elementor-15
  .elementor-element.elementor-element-5a6598e.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-15
  .elementor-element.elementor-element-5a6598e
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-15
  .elementor-element.elementor-element-5a6598e
  .elementor-element-populated
  a {
  color: #ffffff;
}
.elementor-15
  .elementor-element.elementor-element-5a6598e
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  padding: 84px 15px 0px 14px;
}
.elementor-15
  .elementor-element.elementor-element-716bb150
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Nunito Sans", Sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
}
.elementor-15 .elementor-element.elementor-element-6bc6691c {
  color: #f9f9f9;
  font-family: "Nunito Sans", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 1.9em;
}
.elementor-15
  .elementor-element.elementor-element-71a06551
  .elementor-spacer-inner {
  height: 19px;
}
.elementor-15
  .elementor-element.elementor-element-46cc2561
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Nunito Sans", Sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
}
.elementor-15 .elementor-element.elementor-element-5f5a97a5 {
  color: #ffffff;
  font-family: "Nunito Sans", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 1.9em;
}
@media (max-width: 1024px) {
  .elementor-15 .elementor-element.elementor-element-65f9b8d4 {
    padding: 30px 0px 40px 0px;
  }
  .elementor-15
    .elementor-element.elementor-element-fc965e
    > .elementor-element-populated {
    padding: 0px 15px 0px 15px;
  }
  .elementor-15 .elementor-element.elementor-element-2a4c4406 {
    text-align: left;
  }
  .elementor-15 .elementor-element.elementor-element-7f6925ac {
    text-align: left;
  }
  .elementor-15 .elementor-element.elementor-element-51ca1de0 {
    padding: 40px 0px 40px 0px;
  }
  .elementor-15
    .elementor-element.elementor-element-613f4563
    > .elementor-element-populated {
    padding: 0px 0px 0px 20px;
  }
  .elementor-15
    .elementor-element.elementor-element-5cac4cb6
    .elementor-spacer-inner {
    height: 15px;
  }
  .elementor-15
    .elementor-element.elementor-element-3ab64dcb
    .elementor-spacer-inner {
    height: 15px;
  }
  .elementor-15
    .elementor-element.elementor-element-4d962e6d
    .elementor-heading-title {
    font-size: 20px;
  }
  .elementor-15
    .elementor-element.elementor-element-5a6598e
    > .elementor-element-populated {
    padding: 30px 50px 0px 20px;
  }
  .elementor-15
    .elementor-element.elementor-element-716bb150
    .elementor-heading-title {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .elementor-15
    .elementor-element.elementor-element-70560dcb
    > .elementor-element-populated {
    padding: 0% 020% 0% 0%;
  }
  .elementor-15 .elementor-element.elementor-element-4a71110 {
    width: 100%;
  }
  .elementor-15
    .elementor-element.elementor-element-4a71110
    > .elementor-element-populated {
    padding: 0% 0% 0% 0%;
  }
  .elementor-15 .elementor-element.elementor-element-7f6925ac {
    text-align: left;
  }
  .elementor-15
    .elementor-element.elementor-element-613f4563
    > .elementor-element-populated {
    padding: 0px 15px 0px 15px;
  }
  .elementor-15 .elementor-element.elementor-element-10acdd2b {
    text-align: center;
  }
  .elementor-15
    .elementor-element.elementor-element-23c85ed6
    .elementor-divider-separator {
    width: 10%;
    margin: 0 auto;
    margin-center: 0;
  }
  .elementor-15
    .elementor-element.elementor-element-23c85ed6
    .elementor-divider {
    text-align: center;
  }
  .elementor-15
    .elementor-element.elementor-element-5a6598e
    > .elementor-element-populated {
    padding: 0px 15px 0px 15px;
  }
}
@media (min-width: 768px) {
  .elementor-15 .elementor-element.elementor-element-70560dcb {
    width: 48.333%;
  }
  .elementor-15 .elementor-element.elementor-element-4a71110 {
    width: 51.667%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-15 .elementor-element.elementor-element-70560dcb {
    width: 24%;
  }
  .elementor-15 .elementor-element.elementor-element-613f4563 {
    width: 50%;
  }
  .elementor-15 .elementor-element.elementor-element-5a6598e {
    width: 50%;
  }
}
@media (min-width: 1025px) {
  .elementor-15
    .elementor-element.elementor-element-51ca1de0:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-15
    .elementor-element.elementor-element-51ca1de0
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: fixed;
  }
}
